.App {
  color: #fbfbfb;
  width: 100%;
  background-color: #010310;
  overflow-y: hidden;
}
.App main{
  background-image: url("./assets/Gradient.jpg");
  background-size: cover;
}
@font-face {
  font-family: 'neutralface';
  src: url('./NeutralFace-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'euclidcircular';
  src: url('./Euclid\ Circular\ A\ Light.ttf') format('opentype');
}
.App main {
  padding: 200px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.App .team{
  padding: 200px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.App .thelogo {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 20%;
}
.App .thelogo img {
  position: absolute;
  width: 70px;
  height: auto;
  left: 50px;
  top: 50px;
}
.App .thelogo .content {
  margin:30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.App .thelogo .content h1 {
  font-family: "neutralface";
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 100%;
  color: white;
  margin-bottom: -30px;
}
.App .thelogo .content p {
  font-family: "euclidcircular";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #fbfbfb;
  margin-bottom: -20px;
}
button{
  margin-top: 30px;
  background-color: rgba(245, 245, 245, 0.2);
  border: none;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
}
.App .thelogo .content button{
  margin-top: 30px;
  background-color: rgba(245, 245, 245, 0.2);
  border: none;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  /* text-shadow: 1px 1px #fff; */
}
.App .thelogo .content .newpara {
  font-family: "euclidcircular";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  color: #fbfbfb;
  margin-bottom: -20px;
}

.judges-page {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 10%;
}
.judges-page h2 {
  font-size: 2rem;
  width: 100%;
  text-align: center;
}

.judges-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.judge-card {
  flex: 1 0 30%;
  margin-bottom: 1rem;
  padding: 1rem;
  /* border: 1px solid #fff; */
  border-radius: 5px;
  margin-left: 2%;
}
.judge-card img{
  display: flex;
  align-items: center;
  justify-content: center;
  height:30vh;
  width:auto;
  border-radius: 10%;
}
/* .judge-card:hover{
  color:#ba0403;
} */
.judge-name {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.judge-title {
  font-style: italic;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.judge-bio {
  font-size: 0.9rem;
}
.App .team a{
  text-decoration: none;
  color:white;
}
.App .team h2{
  font-family: 'neutralface';
font-style: normal;
font-weight: 700;
font-size: 80px;
line-height: 117px;

color: #FBFBFB;
}
@media screen and (max-width:1080px){
  .App .team h2{
    font-size:50px;
    line-height: 0px;

  }
  .App .thelogo .content .newpara{
    font-size: 20px;
  }
  .App .thelogo .content {
    margin:0;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15%;
  }
  .App .thelogo .content h1 {
      font-size: 70px;
  }
  .App .thelogo .content p {
      font-size: 10px;
  }
  footer p{
    font-size:17px ;
  }
}

@media screen and (max-width:800px){
  .App .team h2{
    font-size:50px;
    line-height: 0px;
  }
  .App .thelogo .content {
    margin:0;
    margin-left: 20px;
    margin-right: 20px;
  }
.App .thelogo .content h1 {
    font-size: 70px;
}
.App .thelogo .content p {
    font-size: 10px;
}
footer p{
  font-size:15px ;
}
}

@media screen and (max-width:600px){
  .App .team h2{
    font-size:50px;
    line-height: 0px;
  }
  .App .thelogo .content .newpara{
    font-size: 20px;
  }
  .App .thelogo .content {
    margin:0;
    margin-left: 20px;
    margin-right: 20px;
  }
.App .thelogo .content h1 {
    font-size: 70px;
}
.App .thelogo .content p {
    font-size: 10px;
}
footer p{
  font-size:12px ;
}
}

@media screen and (max-width:450px){
  .App .team h2{
    font-size:50px;
    line-height: 50px;
  }
  .App .thelogo .content .newpara{
    font-size: 20px;
  }
  .App .thelogo .content {
    margin:0;
    margin-left: 20px;
    margin-right: 20px;
  }
  .App .thelogo img {
    position: absolute;
    width: 60px;
    height: auto;
    left: 10px;
    top: 10px;
  }
.App .thelogo .content h1 {
    font-size: 50px;
}
.App .thelogo .content p {
  padding-top: 30px;
    font-size: 10px;
}
footer p{
  font-size:10px ;
}
}
footer{
  display: flex;
  width:100%;
  justify-content: space-between;
  align-items: center;
  padding-left:1%;
  padding-right: 1%;
}
.line {
  position: relative;
  height: 1px;
  background-color: #ccc;
}
